html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.common-results {
  
}

.table-headers {
  text-transform: uppercase;
}

table {
  font-family: Sans-Serif, serif;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  background: #d9d4e8;
  border-radius: 20px;
}



th {
  font-size: 16px;
  font-weight: 300;
  padding: 10px 10px;
  color: #F56433;
}

td {
  padding: 20px;
  color: #1d192d;
}

.conclusions {
  border-radius: 20px;
  background: #d9d4e8;
  color: #1d192d;
  padding: 10px;
}

.table > :not(caption) > * > * {
  
}

p {
  padding: 0;
  margin: 0;
}
